$menu-width: 260px!default;
$menu-background-color: #F0F0F0!default;
$menu-system-height: 60px!default;
$theme-color: #E2010A!default;
$input-not-empty-background-color: #F0F0F0!default; //输入框有值背景色
$input-empty-border-color: #D8D8D8!default; //输入框为空的边框色