.o_web_client {
  display: grid !important;
  grid-template-areas:
    "banner banner"
    "navbar navbar"
    "menu content"
    "components components";
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr;
  background-color: #f0f0f0;

  > div:has(#oe_neutralize_banner) {
    grid-area: banner;
  }

  > .o_navbar {
    grid-area: navbar;
  }

  > .o_menu {
    grid-area: menu;
  }

  > .o_action_manager {
    grid-area: content;
    border-radius: 15px 0 0 0;

    .o_list_view {
      .o_control_panel {
        padding-top: 16px !important;
      }

      .o_list_renderer .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(.o_list_record_remove):not(.o_list_record_open_form_view),
      .o_list_renderer .o_list_table thead th {
        border: 2px solid #e5e5e5;
      }
    }

    .o_xxl_form_view .o_form_sheet_bg {
      padding-left: 0 !important;
    }
  }

  > .o-main-components-container {
    grid-area: components;
  }

  .btn-primary {
    background-color: $theme-color;
    border-color: $theme-color;

    &:hover {
      background-color: darken($theme-color, 10%);
      border-color: darken($theme-color, 10%);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($theme-color, 0.5);
    }
  }

  .btn-outline-primary {
    color: black;
    border-color: $theme-color;

    &:hover {
      color: white;
      border-color: darken($theme-color, 10%);
      background-color: darken($theme-color, 10%);
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba($theme-color, 0.5);
    }
  }

  .form-check-input:checked {
    background-color: $theme-color;
    border-color: $theme-color;
  }

  .form-check:hover, .form-check:hover .form-check-input:not(:disabled) {
    border-color: $theme-color;
  }

  .nav-link {
    color: black;
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: black;
    font-weight: 700;
  }

  .o-form-buttonbox .oe_stat_button .o_button_icon {
    color: $theme-color;
  }

  .btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
    border-color: $theme-color;
    background-color: rgba($theme-color, .1)
  }

  .badge.text-bg-default, .badge.bg-light, .badge.text-bg-light, .badge.bg-default, .badge.text-primary {
    outline: 1px solid $theme-color
  }

  .text-primary, .text-action {
    color: $theme-color !important;
  }

  :not(.dropstart) > .dropdown-item.active:not(.dropdown-item_active_noarrow):before, :not(.dropstart) > .dropdown-item.selected:not(.dropdown-item_active_noarrow):before {
    color: $theme-color
  }

  .bg-action, .text-bg-action {
    background-color: $theme-color !important;
  }

  .o_form_sheet_bg {
    max-width: 100% !important;
  }

  .o-mail-Form-chatter {
    background-color: white;
  }

  .o_main_navbar {
    background: $menu-background-color !important;
  }

  .o_loading_indicator {
    background-color: $theme-color;
  }

  .o_datetime_picker .o_select_start:before, .o_datetime_picker .o_select_end:before {
    background: rgba($theme-color, .1)
  }

  .o_datetime_picker .o_current:before, .o_datetime_picker .o_highlight_start:not(.o_selected):before, .o_datetime_picker .o_highlight_end:not(.o_selected):before, .o_datetime_picker .o_select_start:before, .o_datetime_picker .o_select_end:before {
    box-shadow: inset 0 0 0 1px $theme-color;
  }

  .o_field_widget.o_field_color_picker > div {
    margin: 0;
  }

  .btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .show > .btn-outline-secondary.dropdown-toggle {
    border-color: $theme-color;
    background-color: rgba($theme-color, .1);
  }

  .o_searchview {
    &:focus-within {
      border-color: $theme-color;

      + .o-dropdown .o_searchview_dropdown_toggler {
        border-top-color: $theme-color;
        border-right-color: $theme-color;
        border-bottom-color: $theme-color;
      }
    }
  }

}